<app-header></app-header>
<div class="container border rounded-3 p-2 bg-light mt-5">
    <div class="row">
        <div class="col">
            <span class="material-symbols-outlined" (click)="backToMain()">
                arrow_back
            </span>
        </div>
    </div>
    <div class="row break">
        <div class="col-5">
            <div class="card">
                <div class="card-header">
                    <h2>{{'BalanceSheetOverview' | translate}}</h2>
                </div>
                <div class="card-body">
                    <p>{{'revenue' | translate}}: {{takings}} €</p>
                    <p>{{'expenditure' | translate}}: - {{outputs}} €</p>
                    <p>{{'balanceSheet' | translate}}: {{bilanz}} €</p>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="divChart">
                <canvas id="pieDiagram"></canvas>
            </div>
        </div>
    </div>
</div>

