<main id="main">
    <div class="container border rounded-3 p-3 bg-light">
        <form [formGroup]="form">
            <div class="row mb-3 sm">
                <div class="col">
                    <input type="text" class="form-control" placeholder="e.g. B Shopping" name="description" formControlName="description">
                </div>
                <div class="col">
                    <button class="btn btn-success mx-2" (click)="taking()">Taking</button>
                    <button class="btn btn-danger" (click)="output()">Output</button>
                </div>
            </div>
    
            <div class="row sm">
                <div class="col">
                    <input type="number" class="form-control" placeholder="e.g. 10.49 $" name="amount" formControlName="amount">
                </div>
                <div class="col">
                    <input type="date" class="form-control" placeholder="Date" name="date" formControlName="date">
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <button class="btn btn-info mt-2 px-5" (click)="add(this.form.value)">Add</button>
                </div>
            </div>
        </form>
    </div>
</main>
