<main id="main">
  <ul class="ul-links">
    <li>
      <a routerLink="/balance-overview" title="Navigate to Balance sheet overview">{{ "balanceSheetOverview" | translate }}</a>
    </li>
    <select id="select-lang" #selectedLang (change)="switchLang(selectedLang.value)" title="Select your  Language">
      <option
        *ngFor="let language of translate.getLangs()"
        [selected]="language === translate.currentLang"
      >
        {{ language }}
      </option>
    </select>
  </ul>

  <div class="container border rounded-3 p-3 bg-light">
    <form [formGroup]="form">
      <div class="row mb-3 sm">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="{{ 'eGBShopingPlaceholder' | translate }}"
            name="description"
            formControlName="description"
          />
        </div>
        <div class="col">
          *<input
            type="checkbox"
            class="mx-2"
            name="taking"
            formControlName="taking"
          />
          <label class="form-label text-success">{{
            "taking" | translate
          }}</label
          >&nbsp;
          <input type="checkbox" name="output" formControlName="output" />&nbsp;
          <label class="form-label text-danger">{{
            "output" | translate
          }}</label>
        </div>
      </div>

      <div class="row mt-1">
        <div class="col">
          <div
            class="alert alert-danger"
            *ngIf="form.get('description')?.hasError('required')"
          >
            {{ "pleaseEnteraDescription" | translate }}
          </div>
        </div>
      </div>

      <div class="row sm">
        <div class="col">
          <input
            type="number"
            class="form-control"
            placeholder="{{ 'eGAmount' | translate }}"
            name="amount"
            formControlName="amount"
          />
        </div>
        <div class="col">
          <input
            type="date"
            class="form-control"
            placeholder="Date"
            name="date"
            formControlName="date"
          />
        </div>
      </div>

      <div class="row mt-1">
        <div class="col">
          <div
            class="alert alert-danger"
            *ngIf="form.get('amount')?.hasError('required')"
          >
            {{ "pleaseEnterAmount" | translate }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            class="btn btn-success mt-2 px-5"
            (click)="add(this.form.value)"
            title="Add List"
          >
            {{ "buttonAdd" | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="dataBoxes">
    <ul class="bg-light" *ngFor="let data of datas; let index">
      <li>
        {{ "title" | translate }}: {{ data.description }}&nbsp;&nbsp; |
        {{ "date" | translate }}:
        {{ data.date | date : "dd.MM.yyyy" }}&nbsp;&nbsp; |
        {{ "amount" | translate }}: {{ data.amount }} €
      </li>

      <li>
        <span
          class="material-symbols-outlined edit"
          (click)="editFromDataList(index)"
          title="Edit this list"
        >
          edit
        </span>
        <span
          class="material-symbols-outlined delete"
          (click)="deleteLists(index)"
          title="Delete this list"
        >
          delete
        </span>
        <span
          class="material-symbols-outlined put"
          (click)="putEdit(this.form.value, index)"
          title="Save changes"
        >
          published_with_changes
        </span>
      </li>
    </ul>
  </div>
</main>
