#main {
  width: 100vw;
  margin-top: var(--margin-xl);

  select {
    width: 100px;
    background-color: var(--background-color);
    color: white;
    padding: .3rem;
    border-radius: .4rem;
    margin-right: 2rem;
    outline: none;

    @media (max-width: 768px) {
        width: 100px;
        margin-left: 1.8rem;
      }
  }
}

.ul-links {
  display: flex;
  justify-content: space-between;
  a {
    margin-right: var(--margin-sm);
    margin-left: var(--margin-xl);
    text-decoration: none;
    color: var(--color-orange);
  }
  @media (max-width: 768px) {
    flex-direction: column;
    margin-left: 0;
    padding: 0;
  }
}

.row {
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.btn {
  @media (max-width: 600px) {
    margin-top: var(--margin-sm);
    max-width: 220px;
  }
}

.dataBoxes {
  width: 88%;
  margin: auto;
  margin-top: var(--margin-xl);
  border-radius: var(--round-s);

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 0.1rem 0px black;
    border-radius: var(--round-m);

    li {
      padding: var(--padding-sm);
    }
    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .material-symbols-outlined {
    margin-right: var(--margin-xl);
    cursor: pointer;
  }
  .edit {
    color: orange;
    font-weight: 900;
  }
  .delete {
    color: red;
    font-weight: 400;
  }
  .put {
    color: green;
    font-weight: 400;
  }
}
